<div class="card">
    <div class="card-body">
        <form method="POST" action="/python">
            <label>Digite uma review de filme</label>
            <textarea type="text" name ="resenha" class = "form-control"> </textarea>
            <button class = "btn btn-success mt-4">Submeter</button>
        </form>
    </div>
</div>